/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #0088cc;
$gold: #ffcf00;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 18;
$base-font-size: 18px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "museo-slab",serif;
$body-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 768px;
$break-large: 1040px;
$break-xlarge: 1140px;
$break-xxlarge: 1280px;