/* CSS Document */

.right {
margin:0 0 0 20px;
float:right;}



/*-------*/

h1.gray {
	color: #666;
}

.demo img {
padding:10px 0px 10px 0px;}

img.wwribbon {padding:0px;}

body {
	width: 1024px;
	margin: 0px auto 0px auto;
	background: url(../images/welcome2.jpg);
}

.underline {
	width: auto;
	height: 30px;
	padding: 20px 0px 0px 0px;
	border-bottom: 1px solid #999999;}
p.welcome em {color:#685350;}

.box {
	width: 354px;
	height: auto;
	border: 1px #999999 solid;
	background: url(../images/tab.png) repeat-x top;
	padding: 0px;
}

img.footer-logo {float:right;}

.box img {
	padding-top:15px;
}

img.uiowa {
margin-left:-10px;}

img.dates {
	margin-left:-15px; 
	margin-top:5px;
	}

img.logo {padding-top:0px;}
img.wwribbon {display:inline;margin-bottom:-6px;}
img.left {padding-top:10px; padding-bottom:5px; float:left; padding-right:10px}
#event h1 {display:inline;}

#dates{
	font-family: 'Neuton', serif;
	margin-top: 5px;
	font-size: 30px;
	float: left;
	width: 500px;
}

p.feature-text  {
	line-height: 25px;
	color:#000000;
}

p.date {
	color:#666;
	font-weight:lighter;
	font-family:Rockwell,Georgia, "Times New Roman", Times, serif;
	font-size:30px;}
	p.date span {color:#0C0;}

.more {
	color:#0099CC;
	font: normal 22px georgia;
	margin-bottom:0px;	
	border: 1px dotted gray;
	width:510px;
	padding: 10px;
	margin-top:10px;
	background-image: url(../images/white.png)

}



.welcome {
font-size:11px; 
line-height:14px; 
margin-top:0px;}

h2 {
	display:inline;
	color:#25651E;
	padding: 0px;
	font-family: Arial;
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
}
h1{
	color:#A11311;
	font: normal 22px georgia;
	margin-bottom:0px;
}

h4{
	color:#551619;
	font: normal 16px georgia;
	margin-bottom:0px;
}

h5 {
	display:inline;
	color:#4D6C47;
	padding: 0px;
	font-family: Arial;
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
}

h6 {
	font: normal  11px georgia;
	display:inline;
	color:#202839;
	letter-spacing:0.5px;
	padding-left:0px;
}

h3 {
	font: normal  12px georgia;
	display:inline;
	text-transform:uppercase;
	color:#333333;
	letter-spacing:.5px;
	padding-left:0px;
}

p {
	margin-top:4px;
	font: normal 12px/20px Arial, Helvetica, sans-serif;
	color:#333333;
	padding: 0 20px 0 0px;}

#event {
width:auto;
min-height:600px;}

blockquote 
{float:right;
	width: 400px;
	height: auto;
	padding-top:15px;
	margin: 0px 0px 10px 25px;
	 /*background: url(../images/white.png); */
}

blockquote.sunday {
	float: left;
	margin-left: 0px;
	margin-right: 20px;
	
}

blockquote.monday {
	float: left;
	margin-left: 0px;
	margin-right: 20px;

}

blockquote.tuesday {
	float: right;
	margin-right: 10px;
	
}

blockquote.thursd {
	float: right;
	margin-right: 10px;
	background: url(../images/white.png); 
	height:200px;
	margin-bottom:0px;}
	
}

blockquote.friday {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
	
}
blockquote.saturday {
	float: left;
	margin-right: 20px;
	
}

#header{
	height:196px;
	padding: 0px 15px 0px 15px;
	width:994px;
	margin-bottom:15px;
	/*background: url(../images/header.jpg) no-repeat 0px 2px;*/
}


* html #header { width:1015px; padding:0px;}


#logo {
	height:100px;
	width:auto;
	padding-top: 0px;

}

#logo p {
	float:left;
	font: normal 10px Georgia, "Times New Roman", Times, serif;
	color:#666666;
	margin:-18px 0px 0px 310px;
	text-transform:uppercase;
}


#logo img {
	padding-top:10px;
	
}

#logo img a {border:none;}

#nav {
	height:auto;
	width:630px;
	margin: 40px 8px 0px 10px;
	padding: 5px 0px 0px 15px;
	float:right;
}



/*-------*/

  /*SEARCH BOX */
  


#search_box input 

{
	font-size: 9px;
	width: 220px;
	height:15px;
	margin-right: 0px;
}

#search_box input.searchbutton

{
	font: normal 10px Georgia, "Times New Roman", Times, serif;
	background: transparent url(../images/search.png) repeat;
	border:none;
	color:#000000;
	height:25px;
	width: 130px;
	text-decoration: none;
	display: inline;
}

#search_box form

{
	float:right;
	padding-top:15px;
	padding-right:9px;
}

a {
border: none;
text-decoration:none;
}

img{
border: none;
text-decoration:none;
}


div#bodywrap {
	height: auto;
	width: 1024px;	/*background: url(../images/background.jpg) repeat-x;*/
}


div#contentwrap {
	width:1024px;
	height: auto;
}



/* Bottom Divs */



#bottom_wrapper {
	float:left;
	width:1018px;
	height:auto;
	text-align:left;
	border:1px solid black;
	margin: 10px 0px 10px 0px;
background-image: url(../images/green4.png);
	background-repeat: no-repeat;
	background-position:bottom;
}

#right-column {
	width:640px;
	height:900px;
	text-align:left;
	float: right;	
}

#left-column  {
	width:354px;
	height:auto;
	text-align:left;
	float: left;
	margin: 0px 0px 7px 5px;
	padding: 0px 0px 10px 0px; 
}

div#footer {
	width:auto;
	text-align: left;
	background-color:transparent;
	font-size: 10px;
	height: 150px;
	clear: both;
	padding: 0px 0px 0px 20px;
background-image: url(../images/oldcapital.png);
	background-repeat: no-repeat;
	background-position: 400px -70px;
}

div#footer ul {
list-style:none;
list-style-type:none;
margin-left:0px;
}

div#footer li {
font-size:12px;
list-style:none;
padding-bottom:3px;
}

div#footer  a {
color:#000000;
text-decoration:underline;
}


/* Navigation */
.nav {
  clear:left;
}


.nav, .nav ul { 
	list-style: none;
	margin: 0;
	padding: 0;	
}
.nav li {
  float: left;
  margin: 0;
  padding:3px 20px 3px 20px;
  margin-right:5px;
  position:relative;
  border:1px solid black;
}
.nav li a, .nav li a:link, .nav li a:active, .nav li a:visited {
  font: normal 12px/25px arial;
  color: black;
  display: block;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  text-transform:uppercase; 
}

.nav li a:hover {
  color: #000;	

}
#nav-one li:hover a, 
#nav-one li.sfHover a {
  color: #000;
}
#nav-one li:hover ul a, 
#nav-one li.sfHover ul a {
  color: #959595;	
}
#nav-one li:hover ul a:hover, 
#nav-one li.sfHover ul a:hover {
 
  color: #000;	
}

li.middle {
padding-right:130px;}
li.end {
padding-right:0px;}
#tabs li a {
  font-size: 1.2em;
}