.eventlist {
	margin: 0;
	list-style: none;
}
.event-info {
    display: none;
}
#index {
    text-align: center;
    position: relative;
    z-index: 0;
    margin-bottom: -9.3%;
    background-image: url(../images/blockparty.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#index .inner {
    padding: 2em 0 4em 0;
    @media (min-width: $break-medium) {
        padding: 4em 0 8em 0;
    }

}

#about {
	background: #fff;
	position: relative;
	z-index: 10;
	padding-bottom: 50px;
	-webkit-clip-path: polygon(0% 0%, 50% 10vw, 100% 0%, 100% 100%, 0 100%, 0% 0%);
	clip-path: polygon(0% 0%, 50% 10vw, 100% 0%, 100% 100%, 0 100%, 0% 0%);
	margin-top: -10vw;
	padding-top: 10vw;
}

#community {
    background: #fff;
    -webkit-clip-path: polygon(0 10vw, 50% 0%, 100% 10vw, 100% 100%, 0 100%, 0 10vw);
    clip-path: polygon(0 10vw, 50% 0%, 100% 10vw, 100% 100%, 0 100%, 0 10vw);
    padding-top: 10vw;
    padding-bottom: 10vw;
    position: relative;
    z-index: 60;
}


.event-img {
    @media(min-width: $break-small) {
        float: right;
        width: 250px;
        margin: 0 0 1em 1em;
    }
}