.footer{
	background-attachment: fixed;
	background-image: url(../images/pentacrest.jpg);
	background-size: cover;
	background-position: center center;
	background-color: #114b43;
	background-repeat: no-repeat;
	-webkit-clip-path: polygon(0 10vw, 50% 0%, 100% 10vw, 100% 100%, 0 100%, 0 10vw);
	clip-path: polygon(0 10vw, 50% 0%, 100% 10vw, 100% 100%, 0 100%, 0 10vw);
	margin-top: -10vw;
	padding-top: 10vw;
	position: relative;
	z-index: 70;
	min-height: 600px;
}
.footer p {
	background-color: #222;
	color: #aaa;
	width: 100%;
	margin: 0;
	font-size: 14px;
	padding: 5px;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
}